global
    maxconn         10000
    stats socket    /var/run/haproxy.stat mode 600 level admin
    log             127.0.0.1:514 local2
    chroot          /var/empty
    pidfile         /var/run/haproxy.pid
    user            haproxy
    group           haproxy
    daemon

frontend public
    bind            *:80 
    mode            http
    default_backend static



backend static
    mode            http
    balance         roundrobin
    {% for item in groups['webservers'] %}
server {{ hostvars[item]['inventory_hostname'] }} {{ hostvars[item]['ansible_host'] }}:{{nginx_listen_port}} check inter 1000 
    {% endfor %}

    